@model MVCCV.Models.Class.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<table class="table table-bordered border">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>SUBTITLE</th>
            <th>DEPARTMENT</th>
            <th>GPA</th>
            <th>DATE</th>
            <th>UPDATE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.VarEducation)
        {
        <tr>
            <th>@x.ID</th>
            <td>@x.TITLE</td>
            <td>@x.SUBTITLE</td>
            <td>@x.DEPARTMENT</td>
            <td>@x.GPA</td>
            <td>@x.Date</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this item?')" })</td>
            <td><a href="/Education/GetEducation/@x.ID" class="btn btn-warning">UPDATE</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Education/NewEducation" class="btn btn-info">Add New Education</a>

